services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: "unless-stopped"

  user-service:
    container_name: user-service
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "9090:9090"
    restart: "unless-stopped"
    depends_on:
      - mongodb
  event-service:
    container_name: event-service
    build:
      context: ./services/event-service
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
      - "9091:9090"
    restart: "unless-stopped"
    depends_on:
      - mongodb

  booking-service:
    container_name: booking-service
    build:
      context: ./services/booking-service
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
      - "9092:9090"
    restart: "unless-stopped"
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: test123
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
