services:

  mongos1:
    container_name: mongos1
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: test123
    command: mongos --configdb config_rs/192.168.100.2:10001,192.168.100.3:10002,192.168.100.4:10003 --port 27017 --bind_ip_all
    ports:
      - 30000:27017

  mongos2:
    container_name: mongos2
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: test123
    command: mongos --configdb config_rs/192.168.100.2:10001,192.168.100.3:10002,192.168.100.4:10003 --port 27017 --bind_ip_all
    ports:
      - 30001:27017